<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.arammy.mapper.UserMapper">

	<select id="selectUser" parameterType="String" resultType="com.example.arammy.vo.UserVo">
		SELECT ID
			   ,PASSWORD
			   ,NAME
			   ,EMAIL
			   ,UPDATEDATE
			   ,CREATEDATE
		FROM USER
		WHERE ID = #{id}	
	</select>
	<select id="checkUserId" parameterType="String" resultType="com.example.arammy.vo.UserVo">
		SELECT COUNT(*) AS result
		FROM USER
		WHERE ID = #{id}
	</select>
	<select id="checkUserPassword" parameterType="com.example.arammy.vo.UserVo" resultType="com.example.arammy.vo.UserVo">
		SELECT COUNT(*) AS result
		FROM USER
		WHERE ID = #{id}
		AND PASSWORD = #{password}
	</select>
</mapper>