<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.arammy.mapper.UserMapper">
<!--   	<select id="allUserInfo" resultType="com.example.arammy.vo.UserVo">
  	<![CDATA[
		SELECT NUM 			AS num
			  ,ID 			AS id
			  ,PASSWORD 	AS password
			  ,NAME 		AS name
			  ,EMAIL 		AS email
		FROM user
	]]>
	</select> -->
 	<select id="login" parameterType="user" resultType="com.example.arammy.vo.UserVo">
		SELECT COUNT(*) 
		FROM user_vo 
		WHERE (id = #{id} and password = #{password}")
	<!-- 	WHERE {id} -->
	</select>
</mapper>